.row{
    height: 400px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}
 img{
    width: 100%;
    height: 100%;
    

}
.vertical-img{
    height: 50%;

}
.row div{
    flex: 1;
}
.same-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

/* responsive media query */
@media screen and (max-width: 412px) {
    .row{
        flex-direction: column;
    } 
    
}